<% content_for :page_title do %>
  <%= Spree.t(:editing_store) %>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:back_to_stores_list), spree.admin_stores_path, :icon => 'icon-arrow-left' %>
<% end %>

<%= render :partial => 'spree/admin/shared/error_messages', :locals => { :target => @store } %>

<%= form_for [:admin, @store], :html => {:multipart => true} do |f| %>
  <fieldset>
    <%= render :partial => 'form', :locals => { :f => f } %>

    <div data-hook="admin_store_edit_form_buttons" class='actions'>
      <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
    </div>
  </fieldset>
<% end %>
